{
  "presets": [[
    "@babel/preset-env",
    {"targets": {
      "chrome": 80,
      "firefox": 70
    }}
  ],
    "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    [
      "babel-plugin-styled-components",
      {
        "pure": true
      }
    ],
    "react-hot-loader/babel"
  ]
}
